.banner {
  background: #14141f;
  background-image: url(../img-svg/banner.svg);
  background-size: 515px 539px;
  background-repeat: no-repeat;
  background-position-y: 80px;
  background-position-x: 90%;
  padding-left: 139px;
  padding-top: 153px;
  padding-bottom: 76px;
}

.banner__titel {
  color: #fff;
  font-size: 70px;
  line-height: 85px;
  width: 60%;
}

.banner__description {
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  width: 45%;
}

.banner__btn {
  border: 1px solid #33333a;
  border-radius: 50px;
  padding: 20px 38px;
  transition: background-color 0.3s;
}
.banner__btn--left {
  color: #fff;
  background: #9a40f4;
  margin-right: 13px;
  cursor: pointer;
}

.banner__btn--left:hover {
  background-color: #9a40f48f;
}

.banner__btn--right {
  background: #ffffff;
  cursor: pointer;
}

.banner__btn--right:hover {
  background-color: #ffffffad;
}
