.page-footer {
  background: #030303;
  padding-top: 101px;
  padding-left: 140px;
  padding-right: 1046px;
}

.page-footer__description {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding-top: 36px;
}

.page-footer__list {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 70px;
}

.page-footer__item {
  display: flex;
  align-items: center;
  list-style-type: none;
  background: #1a1c1d;
  border-radius: 50px;
  padding: 7px;
}
